@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --inter-regular-font-family: "Geist", sans-serif;
  --inter-regular-font-size: 11.25px;
  --inter-regular-font-style: normal;
  --inter-regular-font-weight: 400;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 16px;
  --semantic-heading-1-font-family: "Instrument Serif", Helvetica;
  --semantic-heading-1-font-size: 40px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-weight: 400;
  --semantic-heading-1-letter-spacing: -1px;
  --semantic-heading-1-line-height: 60px;
  --semantic-heading-2-font-family: "Geist", sans-serif;
  --semantic-heading-2-font-size: 14.75px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-weight: 500;
  --semantic-heading-2-letter-spacing: -0.4000000059604645px;
  --semantic-heading-2-line-height: 24px;
  --semantic-link-font-family: "Geist", sans-serif;
  --semantic-link-font-size: 12.25px;
  --semantic-link-font-style: normal;
  --semantic-link-font-weight: 400;
  --semantic-link-letter-spacing: -0.4000000059604645px;
  --semantic-link-line-height: 20px;
  --dove-gray: rgba(102, 102, 102, 1);
  --dove-gray-20: rgba(102, 102, 102, 0.2);
  --emperor: rgba(83, 83, 83, 1);
  --gray: rgba(130, 130, 130, 1);
  --hint-of-green-60: rgba(222, 255, 235, 0.6);
  --ivory: rgba(253, 255, 244, 1);
  --persian-green: rgba(6, 182, 212, 1);
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}